/phpqrcode/cache
/apps/server/conf.php
/test/testconf.php
/vendor/
/node_modules/
/apps/mediacenter/dist/
/apps/user/dist/
/nbproject/private/
reports
dist
/composer.lock
/updateDBconfig.php
/updateDB.php
