/phpqrcode/cache
/apps/server/Conf.php
/test/TestConf.php
/vendor/
/node_modules/
/apps/mediacenter/dist/
/apps/calculator/dist/
/apps/bingo/dist/
/apps/cookbook/dist/
/apps/stories/dist/
/nbproject/private/
/apps/user/dist/
reports
dist
/composer.lock
/updateDBconfig.php
/updateDB.php
style
