<Files ".gitignore">
	Require all denied
</Files>

<Files ".gitlab-ci.yml">
	Require all denied
</Files>

<Files "composer.json">
	Require all denied
</Files>

<Files "composer.lock">
	Require all denied
</Files>

<Files "Gruntfile.js">
	Require all denied
</Files>

<Files "phpci.yml">
	Require all denied
</Files>

<Files "phpcs.xml">
	Require all denied
</Files>

<Files "README.md">
	Require all denied
</Files>

<Files "sonar-project.properties">
	Require all denied
</Files>