version: "3.1"
services:

  redis:
    image: redis:alpine
    container_name: beerplop-redis
    ports:
      - "8083:6379"

  mysql:
    image: mysql:8.0
    command: '--default-authentication-plugin=mysql_native_password'
    container_name: beerplop-mysql
    restart: always
    volumes:
      - ./mysql/schema.sql:/docker-entrypoint-initdb.d/schema.sql
    environment:
      - MYSQL_ROOT_PASSWORD=beerplopRoot
      - MYSQL_DATABASE=beerplop
      - MYSQL_USER=beerplop
      - MYSQL_PASSWORD=beerplop
    ports:
      - "8082:3306"

#  node:
#    image: node:12
#    container_name: beerplop-node
#    depends_on:
#      - redis
#    volumes:
#      - .:/var/www/beerplop/
#    working_dir: /var/www/beerplop/
#    command: node index.js
#    restart: on-failure
#    ports:
#      - "8081:81"

  php:
    build:
      context: '.'
      dockerfile: './docker/Dockerfile_php'
    depends_on:
      - mysql
      - redis
    volumes:
      - .:/var/www/beerplop/
    container_name: beerplop-php

  apache:
    build:
      context: '.'
      dockerfile: './docker/Dockerfile_apache'
    depends_on:
      - php
    ports:
      - "8080:80"
    volumes:
      - .:/var/www/beerplop/
    container_name: beerplop-apache

  # js build container
#  grunt:
#    build:
#      context: '.'
#      dockerfile: './docker/Dockerfile_grunt'
#    container_name: beerplop-grunt
#    volumes:
#      - .:/var/www/beerplop/
#    working_dir: /var/www/beerplop/
#    restart: on-failure
#    command: bash -c "npm ci -verbose && grunt start"

  # install php dependencies via composer
  composer:
    image: composer:1.9
    container_name: beerplop-composer
    volumes:
      - .:/var/www/beerplop/
    working_dir: /var/www/beerplop/
    command: composer install
