{% verbatim %}
  <script id="beer-factory__unique-builds__equip-altar-modal__body-template" type="text/template">
    <div class="beer-factory__centered-slot-container">
      <p>{{ #t }}"beerFactory.uniqueBuilds.spell.description"{{ /t }}</p>
      <b>{{ #t }}"beerFactory.uniqueBuilds.spell.available"{{ /t }}</b>
      <div class="beer-factory__slot-container pb-4">
        {{ #availableSpells }}
          <div class="beer-factory__slot card"
               data-trigger="hover"
               data-boundary="window"
               data-toggle="popover"
               data-placement="right"
               data-html="true"
               data-title="{{ #t }}"beerFactory.uniqueBuilds.spell.{{ . }}.title"{{ /t }}"
               data-spell="{{ . }}"
          >
            <svg viewBox="0 0 44 44">
              <use xlink:href="#svg-unique-build__spell__{{ . }}"></use>
            </svg>
          </div>
        {{ /availableSpells }}
      </div>
    </div>
  </script>
{% endverbatim %}