{% verbatim %}
  <script id="beer-factory__unique-builds__spell-popover-template" type="text/template">
    <p>{{ #t }}"beerFactory.uniqueBuilds.spell.{{ spell }}.description"{{ /t }}</p>
    <hr />
    <p>{{ #t }}"beerFactory.uniqueBuilds.spell.{{ spell }}.effect"{{ /t }}</p>
    {{ #clickHint }}
      <hr />
      <p>{{ #t }}"beerFactory.uniqueBuilds.spell.clickHint"{{ /t }}</p>
    {{ /clickHint }}
  </script>
{% endverbatim %}