<div class="d-none overlay-container" data-overlay="achievements-overlay">
  <div class="close-overlay">
    <h2 class="overlay-title">{{ translator.translate('achievements.title') }}</h2>
    <button type="button" class="close" aria-label="{{ translator.translate('aria.close') }}">
      <span>&times;</span>
    </button>
  </div>

  <div class="full overlay-body">
    <p>{{ translator.translate('achievements.description') }}</p>
    <div id="achievement-overview-container"></div>
  </div>
</div>
