<div class="d-none overlay-container" data-overlay="statistics-overlay">
  <div class="close-overlay">
    <h2 class="overlay-title">{{ translator.translate('stats') }}</h2>
    <button type="button" class="close" aria-label="{{ translator.translate('aria.close') }}">
      <span>&times;</span>
    </button>
  </div>

  <div class="full overlay-body">
    <div id="statistics-container"></div>
  </div>
</div>
