<div id="local-save-state-warning" class="d-none container mt-5">
  <div class="alert alert-warning" role="alert">
    {{ translator.translate('save.localSave.warning', {'__ACTION__': action}) }}
  </div>
  <a href="plop" class="btn btn-raised btn-primary">
    {{ translator.translate('save.localSave.continue') }}
  </a>
</div>
<script type="application/javascript">
    $(function() {
        if (typeof(Storage) !== 'undefined' && localStorage.getItem('beerplop')) {
            $('#local-save-state-warning').removeClass('d-none');
        }
    });
</script>
