<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Beerplop tests</title>

    <link rel="stylesheet" type="text/css" href="dist/css/beerplop{{ app.conf.beerplopversion }}-test.css" />
  </head>

  <body style="overflow: scroll">
    <div id="mocha"><p><a href="">Index</a></p></div>
    <div id="messages"></div>
    <div id="fixtures"></div>

    <div style="display: none;">
      {% include '/View/content.twig' %}

      <div id="client-template-container">
        {% includeDir '/View/ClientTemplates' recursive %}
      </div>
    </div>

    <script type="text/javascript" src="dist/js/beerplop-test-{{ app.conf.beerplopversion }}.js"></script>
    <script>
        if (typeof(Storage) !== 'undefined') {
            localStorage.removeItem('beerplop.test');
        }

        const expect            = chai.expect,
              awaitEventEmitted = (spy, callCount) => new Promise(function (resolve, reject) {
                  (function waitForEmittedEvent(){
                      if (spy.callCount === callCount) {
                          return resolve();
                      }
                      setTimeout(waitForEmittedEvent, 30);
                  })();
              }),
              getPlopsFromLabel = (selector) => parseFloat(
                  selector.text()
                      .match(/([\d,.]+)/g)[0]
                      .replace('.', '')
                      .replace(',', '.')
              );

        window.onGameJsLoaded = () => {};
        window.onCoreInitialized = () => {
            (new Beerplop.GamePersistor()).disableSave();
            mocha.setup({
                ui: 'bdd',
            });

            $.getScript(
                'dist/js/beerplop{{ app.conf.beerplopversion }}-testcases.js',
                () => {
                    TESTMODE = true;

                    const gameState = (new Beerplop.GameState());

                    gameState.setCoreIterationLock();

                    mocha.run();

                    // code to detect if executed via puppeteer. In this case trigger an event after finishing all test
                    // cases to enable puppeteer to fetch the test results
                    if (window.onNotifyPuppeteer) {
                        mocha.suite.afterAll(
                            'notifyPuppeteer',
                            () => document.dispatchEvent(new Event('testSuiteFinished'))
                        );
                    }
                }
            );
        };
    </script>
    <script defer type="text/javascript" src="dist/js/beerplop-game-{{ app.conf.beerplopversion }}.min.js"></script>
  </body>
</html>