{% verbatim %}
  <script id="automated-bar__boosts-template" type="text/template">
    {{ #boosts }}
      <li>{{ #t }}"automatedBar.barkeeper.boost.{{ key }}",{"__BOOST__": "{{ boost }}"}{{ /t }} ({{ level }})</li>
    {{ /boosts }}
  </script>
{% endverbatim %}
