@import "../colors";

.grid-table {
  overflow: scroll;
  display: inline;

  td {
    margin: 0;
    padding: 0;
    border: 3px solid $color-secondary-border;
  }

  &__cell {
    width: 5rem;
    height: 5rem;
  }

  &__container {
    overflow: auto;
    text-align: center;
  }
}