<div id="automated-bar-overlay__container" class="d-none overlay-container overlay--full" data-overlay="automated-bar-overlay">
  <div class="close-overlay">
    <h2 class="overlay-title">{{ translator.translate('automatedBar.barkeeper.title') }}</h2>
    <button type="button" class="close" aria-label="Close">
      <span>&times;</span>
    </button>
  </div>

  <div class="full overlay-body overlay-body__no-scroll d-flex flex-column mh-100">
    <p>{{ translator.translate('automatedBar.detailDescription') }}</p>
    <div id="automated-bar__overlay__container"></div>
  </div>
</div>
