<div class="d-none overlay-container" data-overlay="beer-bank-banker">
  <div class="close-overlay">
    <h2 class="overlay-title">{{ translator.translate('beerBankBanker.title') }}</h2>
    <button type="button" class="close" aria-label="{{ translator.translate('aria.close') }}">
      <span>&times;</span>
    </button>
  </div>

  <div id="beer-bank-banker__overlay" class="full overlay-body"></div>
</div>
