<div id="beer-factory-overlay__container"
     class="d-none overlay-container overlay--full"
     data-overlay="beer-factory-overlay"
>
  <div class="close-overlay">
    <h2 class="overlay-title">{{ translator.translate('beerFactory.title') }}</h2>
    <button type="button" class="close" aria-label="{{ translator.translate('aria.close') }}">
      <span>&times;</span>
    </button>
  </div>

  <div class="full overlay-body">
    <div id="beer-factory-container"></div>
  </div>
</div>
