<div class="d-none overlay-container" data-overlay="stock-market">
  <div class="close-overlay">
    <h2 class="overlay-title">{{ translator.translate('stockMarket.title') }}</h2>
    <button type="button" class="close" aria-label="{{ translator.translate('aria.close') }}">
      <span>&times;</span>
    </button>
  </div>

  <div id="stock-market-overlay" class="full overlay-body">
  </div>
</div>
