$color-secondary-bg: #E0E0E0;
$color-secondary-hover: #F5F5F5;
$color-secondary-border: #BDBDBD;
$color-secondary-contrast: #9E9E9E;
$color-secondary-contrast-hover: #BDBDBD;
$color-secondary-contrast-border: #757575;

$color-text: #212529;

$color-gui-primary: #009688;
$color-gui-primary-hover: #008276;

$color-reached: #00801B;
$color-progress: #0041aa;
$color-pause: #b76900;
$color-cta: #ff3b35;


$color-secondary-bg-dark: #424242;
$color-secondary-hover-dark: #525252;
$color-secondary-border-dark: #292929;
$color-secondary-contrast-dark: #323232;
$color-secondary-contrast-hover-dark: #393939;
$color-secondary-contrast-border-dark: #202020;

$color-text-dark: #BDBDBD;