<div id="beer-factory__material-flow-modal" class="modal fade" role="dialog" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"></h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="{{ translator.translate('aria.close') }}">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="beer-factory__material-flow__toggle d-none">
          <div id="beer-factory__material-flow-graph"></div>
        </div>
        <div class="beer-factory__material-flow__toggle text-center m-5">
          <div class="lds-default"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
          <p>{{ translator.translate('beerFactory.modal.materialFlow.loading') }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
