<div id="beer-factory__trading-route-modal" class="modal fade modal__dynamic-content" role="dialog" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"></h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div id="beer-factory__trading-route-modal__body" class="modal-body">
      </div>
      <div class="modal-footer">
        <button id="beer-factory__trading-route__start-deal" type="button" class="btn btn-default">
          {{ translator.translate('beerFactory.tradingRoute.startDeal') }}
        </button>
      </div>
    </div>
  </div>
</div>