{% verbatim %}
  <script id="sacrifice-warning-template" type="text/template">
    {{ #infinitySacrifice }}
      <p>{{ #t }}"infinitySacrifice.detailDescription"{{ /t }}</p>
      <button id="infinity-sacrifice" class="btn btn-raised btn-primary w-100">
        {{ #t }}"infinitySacrifice"{{ /t }}
      </button>
    {{ /infinitySacrifice }}

    <hr />
    <p>{{ #t }}"sacrifice.warning"{{ /t }}</p>
  </script>
{% endverbatim %}