{% verbatim %}
  <script id="beer-blender__effect-tooltip-template" type="text/template">
    <b>{{ ingredient }}</b>
    <ul class="beer-blender__effects">
      {{ #effects }}
        <li>{{{ description }}}</li>
      {{ /effects }}
    </ul>
  </script>
{% endverbatim %}