html {
    background-color: Black;
    background-image: url("space.jpg");
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#map 
{
    width: 500px;
    height: 300px;
    position: relative;
}

.trackelement 
{
    position:absolute;
    height:10%;
    width:10px;
    border-radius:50px;
    max-width: 11px;
 /*   animation: fadein 2s; 
    -moz-animation: fadein 2s;
    -webkit-animation: fadein 2s;
    -o-animation: fadein 2s;*/
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

.track1 
{
    animation: fadein 1s;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    -o-animation: fadein 1s; /* Opera */
}

.track22
{
    animation: fadein 1.5s;
    -moz-animation: fadein 1.5s; /* Firefox */
    -webkit-animation: fadein 1.5s; /* Safari and Chrome */
    -o-animation: fadein 1.5s; /* Opera */
}
.track2
{
    animation: fadein 2.0s;
    -moz-animation: fadein 2.0s; /* Firefox */
    -webkit-animation: fadein 2.0s; /* Safari and Chrome */
    -o-animation: fadein 2.0s; /* Opera */
}
.track42
{
    animation: fadein 2.5s;
    -moz-animation: fadein 2.5s; /* Firefox */
    -webkit-animation: fadein 2.5s; /* Safari and Chrome */
    -o-animation: fadein 2.5s; /* Opera */
}
.track3 
{
    animation: fadein 3.0s;
    -moz-animation: fadein 3s; /* Firefox */
    -webkit-animation: fadein 3s; /* Safari and Chrome */
    -o-animation: fadein 3s; /* Opera */
}
.track62
{
    animation: fadein 3.5s;
    -moz-animation: fadein 3.5s; /* Firefox */
    -webkit-animation: fadein 3.5s; /* Safari and Chrome */
    -o-animation: fadein 3.5s; /* Opera */
}

.track4 
{
    animation: fadein 4s;
    -moz-animation: fadein 4s; /* Firefox */
    -webkit-animation: fadein 4s; /* Safari and Chrome */
    -o-animation: fadein 4s; /* Opera */
}

.track5 
{
    animation: fadein 5s;
    -moz-animation: fadein 5s; /* Firefox */
    -webkit-animation: fadein 5s; /* Safari and Chrome */
    -o-animation: fadein 5s; /* Opera */
}

.track6
{
    animation: fadein 6s;
    -moz-animation: fadein 6s; /* Firefox */
    -webkit-animation: fadein 6s; /* Safari and Chrome */
    -o-animation: fadein 6s; /* Opera */
}

.track7
{
    animation: fadein 7s;
    -moz-animation: fadein 7s; /* Firefox */
    -webkit-animation: fadein 7s; /* Safari and Chrome */
    -o-animation: fadein 7s; /* Opera */
}

.station {
    position:absolute;
    height:10%;
    width:6%;
    border-radius:50%;
    background-color: rgba(210, 210, 210, 1);
	animation: fadein 5s;
    -moz-animation: fadein 5s; /* Firefox */
    -webkit-animation: fadein 5s; /* Safari and Chrome */
    -o-animation: fadein 5s; /* Opera */
}

.stationEffect {
    width: 2px;
    height: 2px;
    background-color: #FF00FF;
    border-width: 10px;
    border-color: -webkit-gradient(linear, left top, right top, from(red), to(blue));
	border-color: -webkit-linear-gradient(left, red, blue);
	border-color: -moz-linear-gradient(left, red, blue);
	border-color: -ms-linear-gradient(left, red, blue);
	border-color: -o-linear-gradient(left, red, blue);
	border-color: linear-gradient(to right, red, blue);
}

.red  {
    background-color: red;
    
}

.blue  {
    background-color: blue;
}
.green  {
    background-color: green;
}

.neutral  {
    background-color: grey;
}

.highlighted {
    box-shadow: inset 0px 2px 2px 0px rgba(255,255,255,0.5), 0px 4px 8px 0px  rgba(255,255,255,0.6);
}