<div id="upgrades-overlay" class="d-none overlay-container" data-overlay="upgrades-overlay">
  <div class="close-overlay">
    <h2 class="overlay-title">{{ translator.translate('upgrades.title') }}</h2>
    <button type="button" class="close" aria-label="Close">
      <span>&times;</span>
    </button>
  </div>

  <div class="full overlay-body">
    <div id="upgrades-overview-container"></div>
  </div>
</div>
