@font-face {
  font-family: 'enchantment-font';
  src: url('dist/fonts/enchant-DeStencilNF.odt');
  src: url('dist/fonts/enchant-DeStencilNF.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.beerwarts {
  &__magician-table {
    &__filter {
      bottom: 0;
    }
  }

  &__enchant-building {
    color: black;
    transition: color, font-size 0.1s;

    &:hover {
      color: darkviolet;
      font-size: 2rem;
      cursor: pointer;
    }

    &.enchantment-available {
      color: darkviolet;
    }

    &-container {
      position: absolute;
      right: 0;
      padding-right: 5px;

      & + #building-container-popover-bottleCapFactory {
        margin-top: 20px;
      }
    }
  }

  &__magician-name {
    &:hover {
      cursor: text;
    }

    input {
      max-width: 300px;
    }
  }

  &__magician-row {
    &__cooldown button {
      display: none;
    }

    &__training {
      &-sign {
        display: none;
        position: relative;
        top: 20px;
        right: 20px;
        transform: rotate(270deg);
      }

      $skills: 'spells', 'equipment', 'darkness';
      @each $skill in $skills {
        &-#{$skill} &-sign__#{$skill},
        &-#{$skill} &-cancel-train__#{$skill} {
          display: inherit !important;
        }

        &-#{$skill} &-train__#{$skill} {
          display: none;
        }
      }
    }
  }
}


.enchantment-level {
  font-size: 0.75rem;
  float: left;
}

.enchantment-container {
  padding: 20px;
  margin: 10px;

  .beerwarts__enchant {
    width: 100%;
    text-align: left;
    display: flex;
    margin-bottom: 10px;

    &:not(:disabled) {
      background-color: darkviolet !important;
    }

    small {
      font-family: 'enchantment-font', serif;
      padding-left: 10px;
      margin-left: 10px;
      margin-top: 2px;
      white-space: normal;
      border-left: 1px solid currentColor;
    }
  }
}

.enchanted {
  -webkit-box-shadow: 0 0 50px 50px rgba(148, 0, 211, 0.5);
  box-shadow: 0 0 50px 50px rgba(148, 0, 211, 0.5);
}