<div id="stock-market__max-open-holds-reached-modal" class="modal fade" role="dialog" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{ translator.translate('stockMarket.holdLimit.title') }}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        {{ translator.translate('stockMarket.holdLimit.description') }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{{ translator.translate('ok') }}</button>
      </div>
    </div>
  </div>
</div>
